body {
	background:#000;
}

#clock {
	position:absolute;
	margin:-120px 0 0 -400px;
	top:50%;
	left:50%;
	color:#fff;
	width:800px;
}
.time-display {
	display:block;
	font-size:200px;
	font-family:'Inconsolata', sans-serif;
	text-align:center;
	opacity:0.8;
}
#hex {
	display:none;
}
#selectors {
	text-align:center;
}
#selectors a {
	display:inline-block;
	width:360px;
	height:15px;
	background:#C2D1D2;
	opacity:0.6;
}
#selectors a:hover {
	opacity:1;
}
#selectors a.active {
	opacity:0.8;
}